{% extends "layout.html" %}
{% block content%}
    <div class="content-section">
        <form class="form-group" method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="text-center mt-5">Reset Password</legend>
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.email.label(class="form-control-label mb-2")}}
                    {% if form.email.errors %}
                        {{form.email(class="form-control mb-2 is-invalid")}} 
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.email(class="form-control mb-2")}}       
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-0 text-center">
                {{ form.submit(class="btn btn-outline-dark mt-4") }}
            </div>
        </form>
    </div>
{% endblock content %}