{% extends "layout.html" %}

{% block content %}
<div class="content-section">
    <form class="form-group" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend class="text-center mt-5">Update Password</legend>
        <fieldset class="form-group">
            <div class="form-group">
                {{form.current_password.label(class="form-control-label mb-2")}}
                {% if form.current_password.errors %}
                    {{form.current_password(class="form-control mb-2 is-invalid")}} 
                    <div class="invalid-feedback">
                        {% for error in form.current_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.current_password(class="form-control mb-2", placeholder="Old password")}}       
                {% endif %}
            </div>
            <div class="form-group">
                {{form.new_password.label(class="form-control-label mb-2")}}
                {% if form.new_password.errors %}
                    {{form.new_password(class="form-control mb-2 is-invalid")}} 
                    <div class="invalid-feedback">
                        {% for error in form.new_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.new_password(class="form-control mb-2", placeholder="New password")}}       
                {% endif %}
            </div>
            <div class="form-group">
                {{form.confirm_password.label(class="form-control-label mb-2")}}
                {% if form.confirm_password.errors %}
                    {{form.confirm_password(class="form-control mb-2 is-invalid")}} 
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{form.confirm_password(class="form-control mb-2", placeholder="Confirm password")}}       
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group mb-0 text-center">
            {{ form.submit(class="btn btn-outline-dark mt-4") }}
        </div>
    </form>
</div>
{% endblock content %}