{% extends "layout.html" %}
{% block content%}
    <div class="content-section">
        <form class="form-group" method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="text-center mt-5">Remove Bond</legend>
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.denomination.label(class="form-control-label mb-2")}}
                    {% if form.denomination.errors %}
                        {{form.denomination(class="form-control mb-2 is-invalid")}} 
                        <div class="invalid-feedback">
                            {% for error in form.denomination.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.denomination(class="form-control mb-2")}}       
                    {% endif %}
                </div>

                <div class="form-group">
                    {{form.serial.label(class="form-control-label mb-2")}}
                    {% if form.serial.errors %}
                        {{form.serial(class="form-control mb-2 is-invalid")}} 
                        <div class="invalid-feedback">
                            {% for error in form.serial.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.serial(class="form-control mb-2")}}       
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-0 text-center">
                {{ form.submit(class="btn btn-outline-dark mt-4") }}
            </div>
            <div class="text-center">
                <small class="ml-1 mt-0 text-muted">Want to add bonds?
                    <a href="{{url_for('users.add_bond')}}" class="link-secondary">Add Bonds</a>
                </small>
            </div>
        </form>
    </div>
    <script>
        submit = document.getElementById("submit")
        submit.value = "Remove"

        let denomination_id = '{{ form.denomination.data }}';
        denomination = document.getElementById("denomination")
        denomination.selectedIndex = denomination_id - 1
    
    </script>
{% endblock content %}