{% extends "admin/master.html" %}
{% block body %}
    <div class="content-section">
        <form class="form-group" method="POST" action="">
            {{ form.hidden_tag() }}
            <legend class="text-center mt-5">Announce Notification</legend>
            <fieldset class="form-group">
                <div class="form-group">
                    {{form.name.label(class="form-control-label mb-2")}}
                    {% if form.name.errors %}
                        {{form.name(class="form-control mb-2 is-invalid")}} 
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.name(class="form-control mb-2")}}       
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.body.label(class="form-control-label mb-2")}}
                    {% if form.body.errors %}
                        {{form.body(class="form-control mb-2 is-invalid")}} 
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{form.body(class="form-control mb-2")}}       
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group mb-0 text-center">
                {{ form.submit(class="btn btn-outline-dark mt-4") }}
            </div>
        </form>
    </div>
{% endblock body %}